* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(#000, 85%, #124a6b);
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body, h2, h3, h4, h5, h6 {
  color: #ccc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.big-container {
  grid-template-columns: 1fr 1080px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; 
}

.header {
  grid-row: 1;
  grid-column: 1 / 13;
  text-align: center;
}

.header h1 {
  color: #111;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 3.7em;
  font-weight: bold;
  padding: 10px 0 0 0;
  text-align: center;
  text-shadow: 0 0 30px #fff;
}

.content-container {
  grid-row: 2;
  grid-column: 2;
  grid-gap: 20px;
  grid-template-columns: 1fr 192px 192px 192px 192px 1fr;
  grid-template-rows: 20px 192px 30px 30px 192px 30px 192px;
}

.hidden-beginning {
  display: none;
  opacity: 0;
}

.choose-theme-heading {
  grid-row: 4;
  grid-column: 2 / 6;
  text-align: center;
  color: #111;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #fff;
}

#button-array {
  grid-row: 5;
  grid-column: 2 / 6;
  margin: auto;
}

.theme-btn {
  background-color: #0f0f0f;
  border: 3px solid #757575;
  border-radius: 50%;
  margin: 20px;
  opacity:  .85;
  outline: none;
  padding: 15px 15px 12px 15px;
  box-shadow: 0 0 30px #830000;
}

.theme-btn:active {
  outline: none;
}

.theme-btn:hover {
  opacity: 1;
}

.theme-btn img {
  border-radius: 50%;
  width: 100px;
}

#theme-btn-one img {
  border: 3px solid #ffc400;
  box-shadow: 0 0 30px #ffc400;
}

#theme-btn-two img {
  border: 3px solid #029aff;
  box-shadow: 0 0 30px #029aff;
}

#theme-btn-three img {
  border: 3px solid #06ac00;
  box-shadow: 0 0 30px #06ac00;
}

#theme-btn-four img {
  border: 3px solid #5d00cf;  
  box-shadow: 0 0 30px #5d00cf;
}

#content-wrapper {
  opacity: 0;
}

/* ATTACK BUTTON STYLING */
#attack-button {
  background-color: #333;
  border: 2px solid #910000;
  box-shadow: 0 9px 5px #2b2b2b;
  color: #e9e9e9;
  display: none;
  font-size: .7em;
  font-weight: bold;
  grid-row: 2;
  grid-column: 3 / 5;
  margin: auto;
  opacity: .9;
  padding: 5px;
  /* text-shadow: 0 0 10px #000; */
}
#attack-button:hover {
  background-color: #e9e9e9;
  border: 2px solid #333;
  color: #910000;
  opacity: 1;
}
#attack-button:active {
  box-shadow: 0 4px 5px #2b2b2b;
  transform: translateY(4px);
}
button:focus {
  outline: none;
}
/* end attack button styling

/* RESET BUTTON STYLING */
#reset-button {
  background-color: #333;
  border: 2px solid #910000;
  box-shadow: 0 9px 5px #2b2b2b;
  color: #e9e9e9;
  display: none;
  font-size: .7em;
  font-weight: bold;
  grid-row: 2;
  grid-column: 2 / 4;
  margin: auto;
  opacity: .9;
  padding: 5px;
  /* text-shadow: 0 0 10px #000; */
}
#reset-button:hover {
  background-color: #0e0e0e;
  border: 2px solid #333;
  color: #910000;
  opacity: 1;
}
#reset-button:active {
  box-shadow: 0 4px 5px #2b2b2b;
  transform: translateY(4px);
}
/* end reset button styling */


/* PLAY-AGAIN BUTTON STYLING */
#play-again-button {
  background-color: #333;
  border: 2px solid #910000;
  box-shadow: 0 9px 5px #2b2b2b;
  color: #e9e9e9;
  display: none;
  font-size: .7em;
  font-weight: bold;
  grid-row: 2;
  grid-column: 4 / 6;
  margin: auto;
  opacity: .9;
  padding: 5px;
  /* text-shadow: 0 0 10px #000; */
}
#play-again-button:hover {
  background-color: #0e0e0e;
  border: 2px solid #333;
  color: #910000;
  opacity: 1;
}
#play-again-button:active {
  box-shadow: 0 4px 5px #2b2b2b;
  transform: translateY(4px);
}
/* end play-again button styling */

/* avatar styling */
.avatar-box {
  background-color: #181818;
  border: none;
  border-radius: 10px;
  margin: auto;
  padding: 0 30px;
}
button.avatar {
  background: transparent;
  border: none;
  opacity: .8;
}
button.avatar:hover {
  opacity: 1;
}
button.avatar:focus {
  border: none;
  outline: none;
}
.avatar-box img {
  border-radius: 50%;
  border: 6px solid #ffc400;
  display: inline-block;
  height: 120px;
  width: 120px;
  box-shadow: 0 0 25px #fff;
}
.avatar-box h3, 
.avatar-box h4 {
  color: #ccc;
  font-size: 1.25em;
  text-shadow: 0 0 5px #000;
  white-space: nowrap;
}
h3 {
  padding: 5px 0;
}
h4 {
  padding: 0 0 7px 0;
}
/* end avatar styling */

h5, h6 {
  text-shadow: 0 0 5px #000;
}
#your-character-label {
  grid-row: 1;
  grid-column: 2 / 4;
  opacity: 0;
  padding-top: 10px;
  text-align: center;
}

#versus {
  grid-row: 1;
  grid-column: 3 / 5;
  opacity: 0;
  padding-top: 10px;
  text-align: center;
}

#defender-label {
  grid-row: 1;
  grid-column: 4 / 6;
  opacity: 0;
  padding-top: 10px;
  text-align: center;
}

#choose-avatar-heading {
  grid-row: 4;
  grid-column: 2 / 6;
  text-align: center;
}
h2 {
  font-size: 1.8em;
  padding: 0 0 10px 0;
  text-align: center;
  text-shadow: 0 0 5px #000;  
}

p {
  font-size: .8em;
  text-align: center;
  text-shadow: 0 0 5px #000;  
}

#howard-cosell {
  grid-row: 3;
  grid-column: 2 / 4;
}

#howard-cosell-two {
  grid-row: 3;
  grid-column: 4 / 6;
}

#graveyard-label {
  grid-row: 6;
  grid-column: 2 / 6;
  opacity: 0;
  text-align: center;
  text-shadow: 0 0 50px #029aff;
}

#avatar-one {
  grid-row: 5;
  grid-column: 2;
}
#avatar-two {
  grid-row: 5;
  grid-column: 3;
}
#avatar-three {
  grid-row: 5;
  grid-column: 4;
}
#avatar-four {
  grid-row: 5;
  grid-column: 5;
}




.footer {
  grid-row: 3;
  grid-column: 1/13;
  text-align: center;
}

.footer p {
  color: #111111;
  font-weight: bold;
  font-size: .75em;
  padding: 15px 0 10px 0;
  text-shadow: 0 0 7px #fff;
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout2 {
  0% { opacity: .4; }
  100% { opacity: 0; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein2 {
  0% { opacity: 0; }
  100% { opacity: .8; }
}

@keyframes fadein3 {
  0% { opacity: 0; }
  100% { opacity: .7; }
}

@keyframes fadein4 {
  0% { opacity: 0; }
  100% { opacity: .9; }
}

@keyframes opac { 
  0% { opacity:.2; }
  50% { opacity: 1; }
  100% { opacity:.2; }
}

@keyframes opac2 { 
  0% { opacity: 1; }
  100% { opacity: .4; }
}